.contentWrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.contentMargin {
    padding: 0 50px;
}

.main {
    flex-grow: 1;
}

.stickyContainer {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: var(--zIndexHeader);
}