.header {
    align-items: center;
    box-shadow: 0px 0px 5px grey;
    display: flex;
    justify-content: space-between;
    margin: 0 -50px;
    padding: 5px 50px;
    position: sticky;
    top: 0;
}